# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# archived and scribbles pages
Archive*
archive*
Scribbles*
scratch.yml

## Tokens 
*token*

# Template files
README-Template.md

# IAM policies, tokens
trust-policy.json
policies*
kube-dashboard-token.txt

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Terraform
terraform* 
.terraform* 

## Practice Tests
000-Draft-Practice-Test-*
